body {
    background-color: black;

    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.background {
    background-image: url("images/vhsshelf.png");
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    border-color: rgb(30,30,30);
  }



a:visited {
    text-decoration: none;
}

.ul2 {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    
   }


   @media screen and (max-width: 767px){   

    .header{      
        background-image: url("images/header_small.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 45px;

    } 

   .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30,30,30);
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#000000, rgb(30,30,30));
    
   }
  
   .menulogo {
    display: flex;
    justify-content: center;
    padding-top: 3px;

   }

   .menu li:hover {
    background-image: url("images/static.jpg");
    background-color: grey;
    padding: 10px 14px;
    
   }

   .menu li {
    justify-content: center;
    padding: 10px 14px;

   }



     .dropdown {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translate(-50%, 18px);
    text-align: center;
    left: 50%;
    
   }

   .dropdown li + li {
    margin-top: 10px;
    display: flex;
    justify-content: center;

   }

   .dropdown li {
    width:8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: rgb(100,100,100);
}

   .main:hover .dropdown {
    display: inline-block;
    background-color: rgb(30,30,30);

 
   }

   .desktopMenu {
    display:none;
}

    .desktopButton {
     display: none;
    }

    .intro-image1 {
        
        width: 75%;
        padding: 2%;
        margin: 8%;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: grey;
    
    }
    
    .intro-image2 {
        
        width: 75%;
        padding: 2%;
        margin: 8%;
        margin-top: 2%;
        margin-bottom: 5%;
        background-color: grey;
    
    }

}

@media screen and (min-width: 768px) {      
.navbar {
    display:none;
}

.header{      
    background-image: url("images/header_large.png");
    background-repeat: no-repeat;
    background-position: center;
    
 } 


.desktopMenu {
    display: flex;
    background-image: linear-gradient(rgb(30,30,30), #000000);
    width: 100%;
    justify-content: center;
    align-content: bottom;
    margin-bottom: 0;
    padding-left: 0;
}


.desktopButton {
    display: flex;
    flex-direction: row;
    background-image: url("images/menudesktop.png");
    background-color: grey;
    border-width: 0;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.desktopButton:hover {
  display: flex;
  flex-direction: row;
background-image: url("images/static.jpg");
background-color: grey;
 border-width: 0;
color: #fff;
cursor: pointer;
font-size: 18px;
margin: 10px;
margin-top: 0;
margin-bottom: 0;
padding: 0;
padding-left: 5px;
padding-right: 5px;
align-items: center;
justify-content: center;
align-content: center;

  
}

.intro-image1 {
    float: right;
    width: 50%;
    margin: 2%;
    padding: 2%;
    margin-top: 0;
    margin-bottom: 0%;
    background-color: grey;

}

.intro-image2 {
    float: left;
    width: 50%;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2%;
    background-color: grey;

}

} 

.menuBottom {
    background-image: linear-gradient(#000000, rgb(30,30,30));
    position: end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.menuBottom > .menuBottomBack {
    display: flex;
    align-self: flex-start;
    flex-wrap: nowrap;
    width: 120px;
    
    }



    .menuBottomBack:hover {
        background-image: url("images/static.jpg");
        cursor: pointer;
        
    }

.menuBottom > .menuBottomNextMovie {
    display: flex;
    justify-content: end;
    width: 80px;

}

.menuBottomNextMovie:hover {
    background-image: url("images/static.jpg");
    cursor: pointer;
    
    }


 .genre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
    align-self: center;
    height: 75px;
    width: 250px;


}

.genreButtons {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 7px;
    text-align: center;
    justify-content: space-between;
    align-content: center;

}

.button {
    background-color: white;
    color: black;
    border-color: white;
    text-align: center;
    text-decoration: none;
    height: 75px;
    margin: 0;

    
  }

.shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    max-width: 250px;
    margin: 0;
    padding: 0;
}






.display {
display: flex;
flex-wrap: wrap;
padding-top: 0;
margin: 0;
}

.square {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    filter: drop-shadow(3px 0px 2.5px black);
}

.one {
    padding: 5px;
    padding-top: 9px;
    padding-bottom: 15px;
    

}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

 }

 .header {
    display: flex;
    width: 100%;
    max-width: 768px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 0px;
    padding-top: 260px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    background-color: #00542D;
    
    
}

.article {
    display: flex;
    background-color: rgb(30,30,30);
    flex-direction: row;
    justify-content: center;  
    align-self: center;
    padding: 0;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0;
    
}

.article > .articlecontent {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: solid;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
    

}

.articlecontent > .movieTitle {
    display: flex;
    width: 60%;
    justify-content: center;
    padding-bottom: 15px;
}

.tapecover {
    width: 100%;
    height: 500px;
    
}

.tapeinner {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;  
    
}


.tapeinner:hover {
    transform: rotateY(180deg);    
}

.frontCover {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 

    
}

.backCover {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 

}

.intro {
    display: flex;
    padding: 5%;
    padding-top: 0;
    flex-direction: column;
    text-align: left;


}


.contact {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5%;
    padding-bottom: 0;
    background-color: rgb(99, 99, 99);
    width: 40%;
    align-items: center;
    border-radius: 10px;
}


.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(99, 99, 99);
    width: 75%;
    border-radius: 10px;
    justify-content: center;

}



.aboutText {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    justify-content: center;
    padding: 2.5%;

}

 .aboutImg {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2.5%;
    border-radius: 10%;
        
}



.clicker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    outline:none;
    cursor:pointer;
    }


 .clickerButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 5%;
        margin-bottom: 5%;
        width: 150px;
        height: 50px;
        background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 42, 42) 100%);
        outline:none;
        cursor:pointer;
        border-radius: 20px;
        box-shadow: black 5px 5px 0 0;
        }
    
.clickerButtonText {
    display: flex;
    justify-content: center;
}


    .clicker:focus + .hiddendiv{
    display: flex;
    }

    .buttonHome{
        display: flex;
        background-image: url("images/home.png");
        background-repeat: no-repeat;
        background-position-y: 100%;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
            }

.buttonVaultBackground {
    display: flex;
    height: 250px;
    width: 250px;
    background-image: linear-gradient(lightgrey, grey);
    border-radius: 10%;
    
}

.buttonVault{
     display: flex;
     background-image: url("images/vault.png");
     background-repeat: no-repeat;
     background-size: 150px;
     height: 150px;
     width: 150px;
     margin: 50px;
     

}


.buttonVault:hover {
    animation: rotation 3s infinite ease;
}


 @keyframes rotation {
                        from {
                          transform: rotate(0deg);
                        }
                        to {
                          transform: rotate(359deg);
                        }
                      }




textarea {
    height: 100px;

}

.email {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}